<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__grid">
      <div>
        <div class="site-footer__brand">{{ shop.name }}</div>
        <p class="site-footer__tagline">{{ 'footer.tagline' | t }}</p>
        <p class="site-footer__tagline" style="font-size:0.8rem;opacity:0.4;">{{ 'footer.description' | t }}</p>
      </div>
      <div>
        <div class="site-footer__heading">{{ 'footer.shop' | t }}</div>
        <ul class="site-footer__links">
          <li><a href="/collections/all">{{ 'collections.all' | t }}</a></li>
          <li><a href="/collections">{{ 'collections.title' | t }}</a></li>
        </ul>
      </div>
      <div>
        <div class="site-footer__heading">{{ 'footer.company' | t }}</div>
        <ul class="site-footer__links">
          <li><a href="/pages/about">{{ 'header.about' | t }}</a></li>
          <li><a href="/pages/philosophy">{{ 'header.philosophy' | t }}</a></li>
          <li><a href="/pages/contact">{{ 'header.contact' | t }}</a></li>
        </ul>
      </div>
      <div>
        <div class="site-footer__heading">{{ 'footer.customer_service' | t }}</div>
        <ul class="site-footer__links">
          <li><a href="/pages/shipping">{{ 'header.shipping' | t }}</a></li>
          <li><a href="/pages/faq">{{ 'header.faq' | t }}</a></li>
          <li><a href="/cart">{{ 'header.cart' | t }}</a></li>
        </ul>
      </div>
    </div>
    <div class="site-footer__bottom">
      <span>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}. {{ 'footer.copyright' | t }}</span>
      <div class="site-footer__payment-icons">
        <span>Visa</span>
        <span>MC</span>
        <span>PayPal</span>
        <span>Apple Pay</span>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}
